body {
  background-color: #142756;
}

.passion {
  font-family: "Passion One", cursive;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

#start-page h1 {
  font-size: 2.75rem;
}

#start-page select {
  width: 120%;
}

@media (min-width: 768px) {
  #start-page h1 {
    font-size: 3rem;
  }

  #start-page select {
    width: 160%;
  }
}
